<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

  <title>Sistema de Aluguéis de Boardgames</title>

  <link rel="stylesheet" href="../lib/fontawesome/css/font-awesome.css">
  <link rel="stylesheet" href="../lib/weather-icons/css/weather-icons.css">
  <link rel="stylesheet" href="../lib/jquery-toggles/toggles-full.css">

  <link rel="stylesheet" href="../css/quirk.css">

  <script src="../lib/modernizr/modernizr.js"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../lib/html5shiv/html5shiv.js"></script>
  <script src="../lib/respond/respond.src.js"></script>
  <![endif]-->
</head>

<body>

  <header>
    <div class="headerpanel">

      <div class="logopanel">
        <h2><a href="index.html">SABG</a></h2>
      </div><!-- logopanel -->

      <div class="headerbar">

        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

        <div class="searchpanel">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- input-group -->
        </div>

        <div class="header-right">
          <ul class="headermenu">
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-logged" data-toggle="dropdown">
                  <img src="images/photos/loggeduser.png" alt="" />
                  Rafael Brito
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> Perfil</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Conta</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Ajuda</a></li>
                  <li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Sair</a></li>
                </ul>
              </div>
            </li>

          </ul>
        </div><!-- header-right -->
      </div><!-- headerbar -->
    </div><!-- header-->
  </header>

  <section>

    <div class="leftpanel">
      <div class="leftpanelinner">

        <!-- ################## LEFT PANEL PROFILE ################## -->

        <div class="media leftpanel-profile">
          <div class="media-left">
            <a href="#">
              <img src="../images/photos/loggeduser.png" alt="" class="media-object img-circle">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Rafael Brito <a data-toggle="collapse" data-target="#loguserinfo" class="pull-right"><i class="fa fa-angle-down"></i></a></h4>
            <span>Front End Developer</span>
          </div>
        </div><!-- leftpanel-profile -->

        <div class="leftpanel-userinfo collapse" id="loguserinfo">
          <h5 class="sidebar-title">Endereço</h5>
          <address>
            1104 Sul Alameda 14 Lote 07
            Palmas Tocantins 77024-010
          </address>
          <h5 class="sidebar-title">Contato</h5>
          <ul class="list-group">
            <li class="list-group-item">
              <label class="pull-left">Email</label>
              <span class="pull-right">rafaelima.brito@gmail.com</span>
            </li>
            <li class="list-group-item">
              <label class="pull-left">Fixo</label>
              <span class="pull-right">(063) 1234 567</span>
            </li>
            <li class="list-group-item">
              <label class="pull-left">Celular</label>
              <span class="pull-right">(63) 98126-3548</span>
            </li>
          </ul>
        </div><!-- leftpanel-userinfo -->



        <div class="tab-content">

          <!-- ################# MAIN MENU ################### -->

          <div class="tab-pane active" id="mainmenu">
<!--            <h5 class="sidebar-title">Cadastros</h5>-->
<!--            <ul class="nav nav-pills nav-stacked nav-quirk">-->
<!--              <li><a href="perfil.html"><i class="fa fa-group"></i> <span>Perfis</span></a></li>-->
<!--              <li><a href="black.html"><i class="fa fa-user"></i> <span>Usuário</span></a></li>-->
<!--              <li><a href="black.html"><i class="fa fa-ticket"></i> <span>Etiquetas</span></a></li>-->
<!--              <li><a href="categoria.html"><i class="fa fa-star"></i> <span>Categorias</span></a></li>-->
<!--              <li><a href="black.html"><i class="fa fa-cubes"></i> <span>Jogos</span></a></li>-->
<!--            </ul>-->

            <h5 class="sidebar-title">Goblin Caolho</h5>
            <ul class="nav nav-pills nav-stacked nav-quirk">
              <li><a href="black.html"><i class="fa fa-home"></i> <span>Home</span></a></li>
              <li class="nav-parent">
                <a href=""><i class="fa fa-user"></i> <span>Administrador
                </span></a>
                <ul class="children">
                  <li><a href="perfis.html">Cadastro de Perfis</a></li>
                  <li><a href="usuario.html">Cadastro de Usuário</a></li>
                  <li><a href="categoria.html">Cadastro de Categorias</a></li>
                  <li><a href="etiqueta.html">Cadastro de Etiquetas</a></li>
                  <li><a href="empresa.html">Cadastro da Empresa</a></li>
                  <li><a href="frete.html">Frete</a></li>


                </ul>
              </li>
              <li class="nav-parent"><a href=""><i class="fa fa-group"></i> <span>Clientes</span></a>
                <ul class="children">
                  <li><a href="cliente.html">Cadastro de Clientes</a></li>
                </ul>
              </li>
              <li class="nav-parent"><a href=""><i class="fa fa-cubes"></i> <span>Boardgames</span></a>
                <ul class="children">
                  <li><a href="boardgame.html">Cadastrar Boardgame</a></li>
                  <li><a href="devolucao.html">Devolução</a></li>
                  <li><a href="relatorio.html">Relatório</a></li>
                </ul>
              </li>
              <li class="nav-parent "><a href=""><i class="fa fa-file-text"></i> <span>Relatórios</span></a>
                <ul class="children">
                  <li><a href="asset-manager.html">Pedidos</a></li>
                  <li><a href="people-directory.html">Boardgame</a></li>
                  <li><a href="timeline.html">Alugéis</a></li>
                  <li><a href="profile.html">Clientes</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- tab-pane -->
        </div><!-- tab-content -->

      </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

      <div class="contentpanel">

        <ol class="breadcrumb breadcrumb-quirk">
          <li><a href="index.html"><i class="fa fa-home mr5"></i> Home</a></li>
          <li><a href="administrador.html">Boardgames</a></li>
          <li class="active">Cadastro Boardgames</li>
        </ol>

        <section class="container-fluid">
          <div class="row">
            <div class="col-md-12">

              <h4 class="panel-title mb5">Cadastro de Boardgames</h4>
              <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum fuga laudantium qui.</p>

              <div class="panel-group" id="accordion">
                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseOne">
                        Cadastro de Boardgames
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                          <label for="idbgg"><strong>Id do BGG</strong></label>
                          <input type="text" placeholder="Idbgg" class="form-control" id="idbgg"/>
                        </div>

                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                          <label for="copia"><strong>Cópia</strong></label>

                          <select id="copia" class="form-control" style="width: 100%" data-placeholder="Cópia">
                            <option value="" >Cópia</option>
                            <option value="copia1">Cópia 1</option>
                            <option value="copia2 ">Cópia 2</option>
                            <option value="copia3 ">Cópia 3</option>
                            <option value="copia4 ">Cópia 4</option>
                            <option value="copia5 ">Cópia 5</option>
                            <option value="copia6 ">Cópia 6</option>
                            <option value="copia7 ">Cópia 7</option>
                            <option value="copia8 ">Cópia 8</option>
                            <option value="copia9 ">Cópia 9</option>
                            <option value="copia10 ">Cópia 10</option>
                            <option value="copia10 ">Cópia A</option>
                            <option value="copia10 ">Cópia B</option>
                            <option value="copia10 ">Cópia C</option>
                            <option value="copia10 ">Cópia D</option>
                            <option value="copia10 ">Cópia E</option>
                            <option value="copia10 ">Cópia F</option>
                          </select>
                        </div>

                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                          <label for="categoriabg"><strong>Categoria</strong></label>

                          <select id="categoriabg" class="form-control" style="width: 100%" data-placeholder="Categoria">
                            <option value="" >Categoria</option>
                            <option value="euro">Eurogame</option>
                            <option value="wargame ">Wargame</option>
                            <option value="dungeon ">Dungeon Crawler</option>
                          </select>
                        </div>

                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                          <label for="situacao"><strong>Situação</strong></label>

                          <select id="situacao" class="form-control" style="width: 100%" data-placeholder="Perfil">
                            <option value="" >Situação</option>
                            <option value="ativo">Ativo</option>
                            <option value="inativo">Inativo</option>
                          </select>
                        </div>

                        <div class="form-group col-sm-12 col-md-6 col-lg-4">
                          <label for="name"><strong>Nome</strong></label>
                          <input type="text" placeholder="Nome" class="form-control" id="name"/>
                          <label for="name">Caso não tenha utilizado o código do IDBGG</label>

                        </div>

                        <div class="form-group nomargin col-sm-12 col-md-6 col-lg-4">
                          <label for="name"><strong>Informações</strong></label>
                          <textarea id="autosize" class="form-control" rows="3" placeholder="Visível aos clientes na galeria de board games"></textarea>
                        </div>
                      </div>

                      <button class="btn btn-primary btn-quirk pull-right mt20 mr20">Salvar</button>

                    </div>

                  </div>
                </div>

                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Lista de Categorias
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div class="table-responsive col-sm-12 col-md-6 col-md-offset-3">
                        <table class="table nomargin">
                          <thead>
                          <tr>
                            <th class="text-center">
                              <label class="ckbox ckbox-primary">
                                <input type="checkbox"><span></span>
                              </label>
                            </th>
                            <th>Nome</th>
                            <th>Cópia</th>
                            <th>Situação</th>
                            <th>Categoria</th>
                            <th>Aluguéis</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="text-center">
                              <label class="ckbox ckbox-primary">
                                <input type="checkbox"><span></span>
                              </label>
                            </td>
                            <td>Rising Sun</td>
                            <td>Cópia 1</td>
                            <td>Quarentena</td>
                            <td>Wargame</td>
                            <td>01</td>
                            <td>
                              <ul class="table-options">
                                <li><a href=""><i class="fa fa-pencil"></i></a></li>
                                <li><a href=""><i class="fa fa-trash"></i></a></li>
                              </ul>
                            </td>
                          </tr><tr>
                            <td class="text-center">
                              <label class="ckbox ckbox-primary">
                                <input type="checkbox"><span></span>
                              </label>
                            </td>
                            <td>Rising Sun</td>
                            <td>Cópia 1</td>
                            <td>Quarentena</td>
                            <td>Wargame</td>
                            <td>01</td>
                            <td>
                              <ul class="table-options">
                                <li><a href=""><i class="fa fa-pencil"></i></a></li>
                                <li><a href=""><i class="fa fa-trash"></i></a></li>
                              </ul>
                            </td>
                          </tr><tr>
                            <td class="text-center">
                              <label class="ckbox ckbox-primary">
                                <input type="checkbox"><span></span>
                              </label>
                            </td>
                            <td>Rising Sun</td>
                            <td>Cópia 1</td>
                            <td>Quarentena</td>
                            <td>Wargame</td>
                            <td>01</td>
                            <td>
                              <ul class="table-options">
                                <li><a href=""><i class="fa fa-pencil"></i></a></li>
                                <li><a href=""><i class="fa fa-trash"></i></a></li>
                              </ul>
                            </td>
                          </tr>

                          </tbody>
                        </table>
                      </div><!-- table-responsive -->
                    </div><!-- panel -->
                  </div>
                </div>

                <div class="panel">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Links Externos
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">

                    <div class="panel-heading col-sm-12">
                      <h4 class="panel-title">Link de Vídeo </h4>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive col-sm-12 col-md-6">
                        <label for="titlevideo"><strong>Título</strong></label>
                        <input type="text" placeholder="Título" class="form-control" id="titlevideo"/>
                      </div>
                      <div class="table-responsive col-sm-12 col-md-6">
                        <label for="linkvideo"><strong>Link</strong></label>
                        <input type="text" placeholder="Link" class="form-control" id="linkvideo"/>
                      </div>
                    </div><!-- panel --><div class="panel-heading col-sm-12">
                      <h4 class="panel-title">Link de Informações </h4>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive col-sm-12 col-md-6">
                        <label for="titleinfo"><strong>Título</strong></label>
                        <input type="text" placeholder="Título" class="form-control" id="titleinfo"/>
                      </div>
                      <div class="table-responsive col-sm-12 col-md-6">
                        <label for="linkinfo"><strong>Link</strong></label>
                        <input type="text" placeholder="Link" class="form-control" id="linkinfo"/>
                      </div>
                      <button class="btn btn-primary btn-quirk pull-right mt20 mr20">Salvar</button>

                    </div><!-- panel -->
                  </div>
                </div>
              </div>
            </div><!-- col-md-6 -->
          </div><!-- row -->
        </section>

      </div><!-- contentpanel -->
    </div><!-- mainpanel -->
</section>

<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/jquery-ui/jquery-ui.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../lib/jquery-toggles/toggles.js"></script>
<script src="../lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="../lib/select2/select2.js"></script>
<script src="../js/correios.js"></script>


  <script src="../js/quirk.js"></script>

  <script>
    $(function() {
      $("#phone").mask("(99) 99999-9999");
    });
  </script>

</body>
</html>
